/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
     color: white;
     background-color: #527158;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .content-wrapper {
     height: inherit;
     width: 90%;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   /* ------------------ Header ------------------*/

   header {
     background-color: black;
     height: 120px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   header .content-wrapper {
     width: 100%;
   }

   .picture {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   nav, .header-divider {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .header-divider {
     margin-top: 30px;
     background-color: gray;
     height: 1px;
   }

   nav ul {
     width: 60%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-flow: row wrap;
     list-style: none;
   }

   nav ul li a {
     text-decoration: none;
   }

   /* ---------------- Main --------------- */

   main {
     height: 2890px;
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .hero-area {
     height: 501px;
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .hero-area .content-wrapper {
     width: 90%;
     height: inherit;
     margin: 0;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   .hero-area h1 {
     height: 200px;
     margin-top: 50px;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   aside {
     height: 330px;
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .form-info {
     height: inherit;
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   aside .content-wrapper {
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   aside h3, aside p, input {
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   .retreat h3 {
     padding-top: 35px;
   }

   .retreat p {
     padding-top: 20px;
   }

   .form h3 {
     padding: 40px 0 0;
   }

   .form input {
     margin-top: 15px;
     height: 35px;
   }

   .form, .retreat {
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: column wrap;
   }

   .retreat {
     height: 130px;
   }

   .form {
     height: 200px;
   }

   .features {
     width: 100%;
     height: 1455px;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .features .content-wrapper {
     height: inherit;
     margin: 0;
     width: 90%;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: column wrap;
   }

   .features h2 {
     padding-top: 60px;
     width: 100%;
     height: 125px;
     margin: 0;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   .features-items {
     height: 1266px;
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     flex-flow: column wrap;
   }

   .fontawesome-icon, .features-item-description {
     margin: 0;
     width: 45%;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }


   .features article {
     margin: 0;
     width: 100%;
     height: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column wrap;
   }

   .reviews {
     height: 598px;
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .reviews .content-wrapper {
     height: inherit;
     margin: 0;
     width: 90%;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   .reviews h2 {
     padding-top: 50px;
     height: 50px;
   }

   .reviews h2, .reviews h3, .reviews p, .team-pic {
     width: 100%;
     margin: 0;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   .team-pic {
     height: 250px;
   }

   .reviews article {
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     flex-flow: row wrap;
   }

   .lacrue {
     margin-top: 20px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   /* ---------------- Footer --------------- */

   footer {
     background-color: black;
     height: 175px;
     width: 100%;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .phone, .email {
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .footer-content {
     width: 100%;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column wrap;
   }

   .contact, .social, .social-icons {
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column wrap;
   }

   .social-icons {
     margin: 0;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }

   .copyright, .copyright p {
     background-color: black;
     width: 100%;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
   }



/*------------About CSS--------------*/
/*.body-about {
  color: white;
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.main-about, .mission, .information, .mission-info,
.map {
width: 100%;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.mission .content-wrapper, .information .content-wrapper {
height: inherit;
width: 90%;
margin: 0;
display: flex;
justify-content: center;
align-items: flex-start;
flex-flow: row wrap;
}

.map .content-wrapper {
height: inherit;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.motivation, .motivation p {
margin: 0;
width: 100%;
height: 90px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: row wrap;
}

.mission-info {
margin: 0;
width: 100%;
height: 180px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: row wrap;
}

.mission h2 {
padding-top: 50px;
margin: 0;
width: 100%;
height: 70px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: row wrap;
}

.main-about {
height: 1000px;
width: 100%;
}

.mission {
width: 100%;
height: 400px;
}

.map {
height: 350px;
width: 100%;
}

.big-map, .big-map p {
margin: 0;
height: inherit;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.information {
width: 100%;
height: 240px;
}

.information h3 {
padding-top: 20px;
margin: 0;
width: 100%;
height: 25px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: row wrap;
}

.information-hub {
margin-top: 15px;
height: inherit;
width: 100%;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: column wrap;
}

.gen-info {
margin: 0;
height: 87px;
width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
flex-flow: row wrap;
}

.information h5, .information p {
margin: 0;
width: 100%;
}

.footer-about {
  height: 250px;
}*/

/*-----------FAQ CSS-----------*/

/*.body-faq {
  color: white;
  background-color: #527158;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.main-faq {
width: 100%;
height: 525px;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.faq {
width: 100%;
height: 100%;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.faq .content-wrapper {
width: 90%;
height: 100%;
margin: 0;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: column wrap;
}

.banner {
width: 100%;
height: 50px;
margin: 0;
padding-top: 30px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: row wrap;
}

.faq-questions {
width: 100%;
height: 400px;
margin: 0;
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-flow: column wrap;
}

.questions {
width: 100%;
height: 90px;
margin: 0;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: column wrap;
}

.questions h4, .questions p {
height: auto;
width: 100%;
margin: 0;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-flow: row wrap;
}

.footer-faq .footer-content {
  height: inherit;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: column wrap;
}

.footer-faq h4, .footer-faq p {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.footer-faq p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 0px;
}

.footer-faq .contact, .footer-faq .social {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 20px;
  height: 100px;
}

.footer-content-wrapper {
  height: inherit;
  margin: 0;
  width: 90%;
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.footer-faq {
  background-color: black;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  height: 250px;
}*/


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

/* Something crazy happens when the .picture element
is decreased.  I have know idea why that is???*/

  .picture {
    width: 100%;
  }

  .header-divider {
    display: none;
  }

  .retreat, .form {
    width: 48%;
  }

  .features-items {
    flex-flow: row wrap;
  }

  .features article {
    width: 48%;
    flex-flow: column wrap;
  }

  .team-pic, .lacrue {
    border: 1px solid black;
    margin: 0;
    height: 200px;
    width: 48%;
  }

  .reviews article {
    justify-content: space-between;
  }

  .footer-content {
    flex-flow: row wrap;
  }

  .contact, .social {
    width: 48%;
  }

}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
